body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.sides {
  min-width: 50px;
  flex-grow: 1;
  background-color: black;
}

.mainLeft {
  background: url("dog.jpg"), grey;
  background-size: 100%;
  min-width: 400px;
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
}
.mainLeft > .textLeft {
  background-color: rgba(10, 0, 0, 0.359);
  max-height: 100px;
  flex-grow: 1;
  height: 75px;
  padding-top: 15px;
  margin-top: 60px;
  font-size: 50px;
  text-align: center;
}
.textLeftBottom {
  position:absolute;
  bottom:0;
  margin-left: 150px;
  font-size: 15px;
}
.mainRight {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.rightContainer1 {
  flex-grow: .2;
  display: flex;
  background-color: grey;
  width: 100%;
  min-height: 50px;
  justify-content: left;
  align-items: center;
}
.rightContainer1 > p {
  font-size: 15px;
  height: 75%;
  margin-left: 20px;
  margin-bottom: 0;
}
.rightContainer2 {
  flex-grow: .45;
  display: flex;
}
.formContainer {
  border-style: inset;
  border-width: 3px;
  flex-grow: 1;
  font-size: 7px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  padding: 10px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.rightContainer3 {
  flex-grow: .5;
  background-color: grey;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

input.error {
  border: 2px solid red;
}
input:valid {
  border: 2px solid black;
}

#submitButton {
  background-color: green;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.loginLink {
  display: flex;
  flex-direction: row;
  margin: 0px;
  font-size: 12px;
}
.loginLink > a {
  color: rgb(4, 63, 4);
  text-decoration: none;
}